{% extends "base.html" %}
{% block title %}{% trans %}FAQs{% endtrans %}{% endblock %}
{% block content %}
<div class="--content mt-5">
    <div class="sidebar">
        {% include "sidebar.html" %}
    </div>
    <div class="main-content">
        <h4 class="mb-4">{% trans %}Frequently Asked Questions (FAQs){% endtrans %}</h4>
        <h5>{% trans %}Is There a Limit to the Numbers of Files I Can Convert?{% endtrans %}</h5>
        <p>{% trans %}Our online conversion service is 100% free and therefore; there is no limits to the numbers of files you can
            convert online. So, feel free to use our website as much as you want too.{% endtrans %}</p>
        
        <h5>{% trans %}Is Your Conversion Services Really Free?{% endtrans %}</h5>
        <p>{% trans %}Yes, our service is completely free.{% endtrans %}</p>
        
        <h5>{% trans %}What Happens to my Filed I uploaded? Are they even safe?{% endtrans %}</h5>
        <p>{% trans %}Your files are 100% safe on our servers.{% endtrans %}</p>
        <p>{% trans %}Once you process the file to conversion the file instantly deletes from the server and it forwards to the
            next storage server.{% endtrans %}</p>
        <p>{% trans %}The storage server keeps the file for 24 hours and it then automatically deletes the files from the server
            after 24 hourse.{% endtrans %}</p>
        <p>{% trans %}So, there is no need to worry, we have setup all important security for our users.{% endtrans %}</p>
        
        <h5>{% trans %}What If my File Fails to Convert? What&rsquo;s Wrong?{% endtrans %}</h5>
        <p>{% trans %}Well, once you upload your file to our site for conversion, you please wait until the file is completely
            uploaded. Once the file is uploaded you can click on convert and your file will start downloading.{% endtrans %}</p>
        <p>{% trans %}But, if it failed to download, you please contact us directly on our support email at: {% endtrans %}
            <a href="mailto:info@jahasoft.pk">info@jahasoft.pk</a>
        </p>
        
        <h5>{% trans %}Do you obtain the legal right of my file when I use your services?{% endtrans %}</h5>
        <p>{% trans %}In short, No. We do not intent to have the legal rights on your files. Therefore, once a user uploaded any
            file for conversion. It automatically gets deleted after very shortest amount of time.{% endtrans %}</p>
        
        <h5>{% trans %}How long does it take to convert a video?{% endtrans %}</h5>
        <p>{% trans %}While we are offering one of the fastest cloud compute conversion rates. The actual time it takes is based on
            the length / size of your video.{% endtrans %}</p>
        <p>{% trans %}Also, the speed and stability of your internet connection also matters.{% endtrans %}</p>
        
        <h5>{% trans %}What video formats do you support?{% endtrans %}</h5>
        <p>{% trans %}We support each and every video format on our platform. You can find out our video converters here: {% endtrans %}
            <a href="https://www.allinonevideoconverter.com/converter/video">https://www.allinonevideoconverter.com/converter/video</a>
        </p>
        
        <h5>{% trans %}Can I convert videos using my tablet or smartphone?{% endtrans %}</h5>
        <p>{% trans %}Of course, you can convert your video, audio, docs, ebook, software, archive and more files on your tablet
            and smartphone.{% endtrans %}</p>
        
        <p>{% trans %}In case, you do not find what you were looking for, please connect with us at {% endtrans %}
            <a href="mailto:admin@jahasoft.pk">admin@jahasoft.pk</a>
        </p>
    </div>
</div>
{% endblock %}